.card {
    position: relative;
    border: 2px solid $border-color;
    width: $card-width;
    height: $card-height;
    overflow: hidden;
    margin: 25px;
}

.product-img {
    height: fit-content;
    overflow: hidden;
    img {
        width: $card-width;
        height: 20rem;
        transition: transform 0.5s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.card-desc {
    padding: 15px;
    h2 {
        font-size: $font-small;
        font-weight: 350;
    }
    span {
        font-weight: bold;
    }
}