.results {
    margin: auto;
    margin-top: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: $background-color;
}

.found {
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-found {
    padding: 20px;
    margin: auto;
}